  <!-- Booking Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="booking p-5">
            <div class="row g-5 align-items-center">
                <div class="col-md-6 text-white">
                    <h6 class="text-white text-uppercase">Đặt tour</h6>
                    <h1 class="text-white mb-4">Đặt tour trực tuyến</h1>
                    <p class="mb-4">
                        Việc du lịch trở nên thuận tiện hơn bao giờ hết với dịch vụ đặt tour trực tuyến của chúng tôi. Chỉ cần vài bước đơn giản, bạn có thể dễ dàng lựa chọn và đặt ngay chuyến đi yêu thích mà không cần phải mất thời gian di chuyển đến các đại lý du lịch
                    </p>
                    <p class="mb-4">
                        Đặt tour trực tuyến không chỉ tiết kiệm thời gian mà còn giúp bạn so sánh giá cả, lịch trình và đánh giá từ những du khách khác, đảm bảo mang lại trải nghiệm tuyệt vời nhất cho bạn và gia đình.
                    </p>
                    <a class="btn btn-outline-light py-3 px-5 mt-2" href="">Xem chi tiết</a>
                </div>
                <div class="col-md-6">
                    <h1 class="text-white mb-4">Đặt Ngay</h1>
                    <form>
                        <div class="row g-3" style="color:white;">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control bg-transparent" id="name" placeholder="Your Name">
                                    <label for="name">Họ Tên</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control bg-transparent" id="email" placeholder="Your Email">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating date" id="date3" data-target-input="nearest">
                                    <input type="text" class="form-control bg-transparent datetimepicker-input" id="datetime" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                                    <label for="datetime">Ngày và thời gian</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating" >
                                    <select class="form-select bg-transparent" id="select1" style="color:white;">
                                        <option style="color:black;" value="1">Gói 1</option>
                                        <option style="color:black;" value="2">Gói 2</option>
                                        <option style="color:black;" value="3">Gói 3</option>
                                    </select>
                                    <label for="select1" >Địa điểm</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control bg-transparent" placeholder="Special Request" id="message" style="height: 100px; color:white"></textarea>
                                    <label for="message">Bạn có yêu cầu gì đặc biệt?</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-outline-light w-100 py-3" type="submit">Đặt ngay</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking Start -->
<!-- Process Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Hướng Dẫn</h6>
            <h1 class="mb-5">3 bước dễ dàng để đi du lịch</h1>
        </div>
        <div class="row gy-5 gx-4 justify-content-center">
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                        <i class="fa fa-globe fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Chọn gói mong muốn</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">chọn gói</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                        <i class="fa fa-dollar-sign fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Thanh toán</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Thanh toán </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                        <i class="fa fa-plane fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Khởi hành</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Khởi hành</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Process Start -->
