
<!-- Dịch Vụ Bắt Đầu -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Dịch Vụ</h6>
            <h1 class="mb-5">Dịch Vụ Của Chúng Tôi</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5>Tour Đà Lạt</h5>
                        <p>Khám phá các điểm đến nổi tiếng trên khắp Đà lạt với hành trình thú vị và hấp dẫn.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-hotel text-primary mb-4"></i>
                        <h5>Đặt Phòng Khách Sạn</h5>
                        <p>Dịch vụ đặt phòng khách sạn tiện lợi, đảm bảo sự thoải mái cho mỗi chuyến đi của bạn.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user text-primary mb-4"></i>
                        <h5>Hướng Dẫn Viên Du Lịch</h5>
                        <p>Đội ngũ hướng dẫn viên giàu kinh nghiệm, giúp bạn hiểu rõ hơn về điểm đến của mình.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cog text-primary mb-4"></i>
                        <h5>Tổ Chức Sự Kiện</h5>
                        <p>Dịch vụ tổ chức sự kiện chuyên nghiệp, mang đến những sự kiện hoàn hảo và đáng nhớ.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Dịch Vụ Kết Thúc -->
