<div class="slider-container">
    <div class="slider">
        <div class="slide active">
            <div class="video-wrapper">
                <video muted loop>
                    <source src="~/Asset/Slider/dalat1.webm" type="video/webm">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="video-text">
                <h2 class="title">THÀNH PHỐ ĐÀ LẠT</h2>
                <p class="description">Đà Lạt - thành phố của sự lãng mạn, nơi gió lạnh và thiên nhiên hòa quyện.</p>
            </div>
        </div>
        <div class="slide">
            <div class="video-wrapper">
                <video muted loop>
                    <source src="~/Asset/Slider/dalat2.webm" type="video/webm">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="video-text">
                <h2 class="title">THUNG LŨNG TÌNH YÊU</h2>
                <p class="description">Nơi tình yêu hội tụ giữa thiên nhiên lãng mạn, với hồ nước xanh và rừng hoa.</p>
            </div>
        </div>
        <div class="slide">
            <div class="video-wrapper">
                <video muted loop>
                    <source src="~/Asset/Slider/dalat3.webm" type="video/webm">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="video-text">
                <h2 class="title">LANGBIANG</h2>
                <p class="description">Langbiang - đỉnh cao Đà Lạt, nơi bạn chiêm ngưỡng toàn cảnh thiên nhiên hùng vĩ.</p>
            </div>
        </div>
    </div>
</div>


<script src="~/Asset/js/Silder.js"></script>
<link href="~/Asset/css/Silder.css" rel="stylesheet" />
